<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>red</key>
	<string>red.jpg</string>
	<key>yellow</key>
	<string>yellow.jpeg</string>
	<key>orange</key>
	<string>orange.jpeg</string>
</dict>
</plist>
